html {
  scroll-behavior: smooth;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.btn-my {
  height: 24px;
  width: 60px;
  line-height: 24px;
  margin: 5px 5px;
  padding: 0 0.5em;
}

.position-abs {
  position: absolute;
  right: 0;
  top: 10px;
}

.position-rel {
  position: relative;
}

.text-item {
    float: left;
    margin: 10px;
}

.collapsable-icon{
    margin-top: 7px;

}
