{% extends 'base.html' %} {% block content %}

<!-- flash message container -->

<div class="row">
  {% if error %}
  <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
</div>

<h4>Add new item</h4>

<!--Adding an item by using a form with dropdown menu, with future to add a picture from file or take a picture from mobile,
  picture will be uploaded using imgBB API, after submitting item will be saved to database and user redirected to items page-->

<div class="row">
  <form action="{{ url_for('insert_item')}}" method="POST" class="col s12" autocomplete="off">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">assignment_ind</i>
        <input id="item_name" name="item_name" type="text" class="materialize-textarea" required />
        <label for="icon_prefix">Item Name *</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">assignment</i>
        <select id="item_category" name="item_category" required>
          <option value="" disabled selected>Choose a category:</option>
          {% for cat in categories %}
          <option value="{{cat.category_name}}">{{cat.category_name}}</option>
          {% endfor %}
        </select>
        <label>Item Category *</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">vertical_align_bottom</i>
        <select id="item_unit" name="item_unit" required>
          <option value="" disabled selected>Choose unit of measurement:</option>
          {% for un in units %}
          <option value="{{un.unit}}">{{un.unit}}</option>
          {% endfor %}
        </select>
        <label>UOM *</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">location_searching</i>
        <select id="item_shop" name="item_shop" required>
          <option value="" disabled selected>Choose a shop to buy from:</option>
          {% for shop in shops %}
          <option class="left" value="{{shop.shop_name}}" data-icon="{{shop.shop_logo}}">{{shop.shop_name}}</option>
          {% endfor %}
        </select>
        <label>Shop to buy from *</label>
      </div>
    </div>
    <div class="row">
      <div class="file-field input-field col s12 ">
        <div class="btn blue-grey darken-3">
          <span>add photo</span>
          <input id="input_img" type="file" onchange="fileChange('item_img')" accept="image/*">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" id="item_img" name="item_img">
        </div>
      </div>
    </div>
    <h6>* required fields</h6>
    <div class="row center-align">
      <button class="btn waves-effect waves-light blue-grey darken-3" type="submit" name="action">Add Item
        <i class="material-icons right">send</i>
      </button>
      <a class="waves-effect waves-light btn blue-grey darken-3 " href="{{url_for('items')}}"><i
          class="material-icons right">cancel</i>Cancel</a>
    </div>
  </form>
</div>

{% endblock %}