{% extends 'base.html' %} {% block content %}

<h4>Add Recipe</h4>
<div class="row">

  <form action="{{ url_for('insert_shop_recipe')}}" method="POST" class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">add</i>
        <select id="recipe_name" name="recipe_name" class="materialize-textarea">
          <option value="" disabled selected>Choose an recipe</option>
          {% for recipe in recipes %}
          <option value="{{recipe.recipe_name}}">{{recipe.recipe_name}}</option>
          {% endfor %}
        </select>
        <label>Choose an recipe</label>
      </div>
    </div>
    <div class="row center-align">
      <button class="btn waves-effect waves-light blue-grey darken-3" type="submit" name="action">Add Recipe
        <i class="material-icons right">send</i>
      </button>
      <a class="waves-effect waves-light btn blue-grey darken-3 " href="{{url_for('shopping_list')}}"><i
          class="material-icons right">cancel</i>Cancel</a>
    </div>
  </form>
</div>

{% endblock %}