<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>
</head>
<body>
    <header>
        <nav id="top">
            <div class="nav-wrapper blue-grey darken-3">
                <a href="#" class="brand-logo right">My Shopping List</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="{{url_for('shopping_list')}}">Shopping List</a></li>
                    <li><a href="{{url_for('items')}}">Items</a></li>
                    <li><a href="{{url_for('recipes')}}">Recipes</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{url_for('shopping_list')}}">Shopping List</a></li>
                    <li><a href="{{url_for('items')}}">Items</a></li>
                    <li><a href="{{url_for('recipes')}}">Recipes</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large blue-grey darken-3" href="#top">
            <i class="large material-icons">arrow_upward</i>
        </a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".button-collapse").sideNav();
            $(".collapsible").collapsible();
            $('select').material_select();
            $('.modal').modal();
        

        });   
    </script>
</body>
</html>