<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA=="
        crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <link rel="icon" type="image/png" href="{{url_for('static', filename='images/shop.ico')}}">
    <title>Weekly Shopping List</title>
</head>

<body>
    <header>
        <!-- top navbar -->
        <nav id="top">
            <div class="nav-wrapper blue-grey darken-4">
                <a href="{{url_for('index')}}" class="brand-logo right"><img src="../static/images/shop.png"
                        class="logo" alt="Logo"></a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="{{url_for('index')}}"><i class="fas fa-home menu-icon"></i> Home</a></li>
                    {% if session.user %}
                    <li><a href="{{url_for('use_shopping_list')}}"><i class="fas fa-save menu-icon"></i> Saved Shopping List</a></li>
                    <li><a href="{{url_for('shopping_list')}}"><i class="fas fa-edit menu-icon"></i> Manage Shopping List</a></li>
                    <li><a href="{{url_for('items')}}"><i class="fas fa-plus menu-icon"></i> Items</a></li>
                    <li><a href="{{url_for('recipes')}}"><i class="fas fa-folder-plus menu-icon"></i> Recipes</a></li>
                    <li><a href="{{url_for('feedback')}}"><i class="fas fa-comments menu-icon"></i> Feedback</a></li>
                    <li><a href="{{url_for('logout')}}"><i class="fas fa-sign-out-alt menu-icon"></i> Log Out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}"><i class="fas fa-sign-in-alt menu-icon"></i> Log In</a></li>
                    <li><a href="{{ url_for('register') }}"><i class="fas fa-user-plus menu-icon"></i> Register</a></li>
                    {% endif %}

                </ul>
                <!-- mobile side navigation -->
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{url_for('index')}}"><i class="fas fa-home"></i> Home</a></li>
                    {% if session.user %}
                    <li><a href="{{url_for('use_shopping_list')}}"><i class="fas fa-save"></i> Saved Shopping List</a></li>
                    <li><a href="{{url_for('shopping_list')}}"><i class="fas fa-edit"></i> Manage Shopping List</a></li>
                    <li><a href="{{url_for('items')}}"><i class="fas fa-plus"></i> Items</a></li>
                    <li><a href="{{url_for('recipes')}}"><i class="fas fa-folder-plus"></i> Recipes</a></li>
                    <li><a href="{{url_for('feedback')}}"><i class="fas fa-comments"></i> Feedback</a></li>
                    <li><a href="{{url_for('logout')}}"><i class="fas fa-sign-out-alt"></i> Log Out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}"><i class="fas fa-sign-in-alt"></i> Log In</a></li>
                    <li><a href="{{ url_for('register') }}"><i class="fas fa-user-plus"></i> Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <!-- section with flash message -->
    <aside>
        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div class="container">
             <div id="message" class="row materialert center-align">
                <i class="material-icons">info_outline</i><span>{{ message }}</span>
             </div>
        </div>
        {% endfor %} {% endif %} {% endwith %}
    </aside>
    <!-- main content -->
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <!-- footer content -->
    <footer class="page-footer blue-grey darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Weekly Shopping List</h5>
                    <p class="grey-text text-lighten-4">Add items/recipes and groups of items to created your shopping
                        list. Share it with your fiends or designated shopper.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://github.com/xz3t/milestone-3"
                                target="_blank"><i class="fab fa-github footer-icon"></i> GitHub</a></li>
                        <li><a class="grey-text text-lighten-3" href="{{url_for('feedback')}}"><i
                                    class="fas fa-comments footer-icon"></i> Feedback</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
                2020 Valentin Leu
            </div>
        </div>
    </footer>
    <!-- floating button to navigate to top of the page -->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-small blue-grey darken-3" href="#top">
            <i class="small material-icons">arrow_upward</i>
        </a>
    </div>
    <!-- share modal  -->
    <div id="clipboard-modal" class="modal bottom-sheet">
        <div class="modal-content center-align">
        <input type="text" value="https://weekly-shopping-app.herokuapp.com/share_shopping_list/{{session["user"]}}"
          id="copyLink">
        <a href="#!" class="waves-effect waves-grey btn-flat tooltipped" onclick="copyClipboard()" onmouseover="copyClipboard()" data-position="top"
          data-delay="50" data-tooltip="Link copied to clipboard ! " > Copy to clipboard
        </a>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{{url_for('static', filename='js/imgBB.js')}}"></script>
    <script>
        $(document).ready(function () {
            $(".button-collapse").sideNav();
            $(".collapsible").collapsible();
            $('select').material_select();
            $('.modal').modal();
            $('.tooltipped').tooltip();
            $('.materialboxed').materialbox();
            // fade out added for messages to dissapear
            $('#message').delay(5000).fadeOut(400)
        });
        // show/hide shops in shopping list
        function shopToggle(x) {
            $('#' + x).toggle("slide");
        };
        // show/hide categories in shops
        function catToggle(y, z) {
            $("div[class*=" + y + "]").hide();
            $('.' + y + z).toggle("slide");
        };
        // show/hide All shops
        function catAll(z) {
            $("div[class*= " + z + "]").show();
        };
        // fix tooltip to appear over materialize select input
        $("select[required]").css({ display: "block", height: 0, padding: 0, width: 0, position: 'absolute', left: '50%', top: '3em' });

          // copy to clipboard

        function copyClipboard() {
            var copyText = document.getElementById("copyLink");
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            document.execCommand("copy");
  
         }
    </script>

</body>

</html>