{% extends 'base.html' %} {% block content %}

<h3>Edit recipe/group of products</h3>

<div class="row">
  <form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST" class="col s12" autocomplete="off">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">assignment_ind</i>
        <input id="recipe_name" name="recipe_name" type="text" class="materialize-textarea"
          value="{{recipe.recipe_name}}" required />
        <label for="icon_prefix">Recipe Name *</label>
      </div>
      <div class="input-field col s9">
        <i class="material-icons prefix">add</i>
        <select id="recipe_ingredient_1" name="recipe_ingredient_1" class="materialize-textarea">
          <option value="" disabled selected>Choose a item:</option>
          {% for item in item1 %}
          {% if item.item_name == recipe.recipe_ingredient_1%}
          <option value="{{item.item_name}}" selected>{{item.item_name}} ({{item.item_unit}})</option>
          {% else %}
          <option value="{{item.item_name}}">{{item.item_name}} ({{item.item_unit}})</option>
          {% endif %}
          {% endfor %}
        </select>
        <label>Ingredient/item 1:</label>
      </div>
      <div class="input-field col s3">
        <input id="recipe_ingredient_1_qty" name="recipe_ingredient_1_qty" type="number" class="materialize-textarea"
          value="{{recipe.recipe_ingredient_1_qty}}" />
        <label for="icon_prefix">Qty:</label>
      </div>
      <div class="input-field col s9">
        <i class="material-icons prefix">add</i>
        <select id="recipe_ingredient_2" name="recipe_ingredient_2" class="materialize-textarea">
          <option value="" disabled selected>Choose a item:</option>
          {% for item in item2 %}
          {% if item.item_name == recipe.recipe_ingredient_2%}
          <option value="{{item.item_name}}" selected>{{item.item_name}} ({{item.item_unit}})</option>
          {% else %}
          <option value="{{item.item_name}}">{{item.item_name}} ({{item.item_unit}})</option>
          {% endif %}
          {% endfor %}
        </select>
        <label>Ingredient/item 2:</label>
      </div>
      <div class="input-field col s3">
        <input id="recipe_ingredient_2_qty" name="recipe_ingredient_2_qty" type="number" class="materialize-textarea"
          value="{{recipe.recipe_ingredient_2_qty}}" />
        <label for="icon_prefix">Qty:</label>
      </div>
      <div class="input-field col s9">
        <i class="material-icons prefix">add</i>
        <select id="recipe_ingredient_3" name="recipe_ingredient_3" class="materialize-textarea">
          <option value="" disabled selected>Choose a item:</option>
          {% for item in item3 %}
          {% if item.item_name == recipe.recipe_ingredient_3%}
          <option value="{{item.item_name}}" selected>{{item.item_name}} ({{item.item_unit}})</option>
          {% else %}
          <option value="{{item.item_name}}">{{item.item_name}} ({{item.item_unit}})</option>
          {% endif %}
          {% endfor %}
        </select>
        <label>Ingredient/item 3:</label>
      </div>
      <div class="input-field col s3">
        <input id="recipe_ingredient_3_qty" name="recipe_ingredient_3_qty" type="number" class="materialize-textarea"
          value="{{recipe.recipe_ingredient_3_qty}}" />
        <label for="icon_prefix">Qty:</label>
      </div>
      <div class="input-field col s9">
        <i class="material-icons prefix">add</i>
        <select id="recipe_ingredient_4" name="recipe_ingredient_4" class="materialize-textarea">
          <option value="" disabled selected>Choose a item:</option>
          {% for item in item4 %}
          {% if item.item_name == recipe.recipe_ingredient_4%}
          <option value="{{item.item_name}}" selected>{{item.item_name}} ({{item.item_unit}})</option>
          {% else %}
          <option value="{{item.item_name}}">{{item.item_name}} ({{item.item_unit}})</option>
          {% endif %}
          {% endfor %}
        </select>
        <label>Ingredient/item 4:</label>
      </div>
      <div class="input-field col s3">
        <input id="recipe_ingredient_4_qty" name="recipe_ingredient_4_qty" type="number" class="materialize-textarea"
          value="{{recipe.recipe_ingredient_4_qty}}" />
        <label for="icon_prefix">Qty:</label>
      </div>
      <div class="input-field col s9">
        <i class="material-icons prefix">add</i>
        <select id="recipe_ingredient_5" name="recipe_ingredient_5" class="materialize-textarea">
          <option value="" disabled selected>Choose a item:</option>
          {% for item in item5 %}
          {% if item.item_name == recipe.recipe_ingredient_5%}
          <option value="{{item.item_name}}" selected>{{item.item_name}} ({{item.item_unit}})</option>
          {% else %}
          <option value="{{item.item_name}}">{{item.item_name}} ({{item.item_unit}})</option>
          {% endif %}
          {% endfor %}
        </select>
        <label>Ingredient/item 5:</label>
      </div>
      <div class="input-field col s3">
        <input id="recipe_ingredient_5_qty" name="recipe_ingredient_5_qty" type="number" class="materialize-textarea"
          value="{{recipe.recipe_ingredient_5_qty}}" />
        <label for="icon_prefix">Qty:</label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">image</i>
        <input id="recipe_img" name="recipe_img" type="text" class="materialize-textarea"
          value="{{recipe.recipe_img}}" />
        <label for="icon_telephone">Link to image: </label>
      </div>
    </div>
    <div class="row center-align">
      <button class="btn waves-effect waves-light blue-grey darken-3" type="submit" name="action">Edit Item
        <i class="material-icons right">edit</i>
      </button>
      <a class="waves-effect waves-light btn blue-grey darken-3 " href="{{url_for('recipes')}}"><i
          class="material-icons right">cancel</i>Cancel</a>
    </div>
  </form>
</div>

{% endblock %}