{% extends 'base.html' %} {% block content %}

<h3>Edit Item</h3>

<div class="row">
  <form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST" class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">assignment_ind</i>
        <input id="recipe_name" name="recipe_name" type="text" class="materialize-textarea" value="{{recipe.recipe_name}}"/>
        <label for="icon_prefix">Item Name:</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">assignment_ind</i>
        <input id="recipe_ingredient_1" name="recipe_ingredient_1" type="text" class="materialize-textarea" value="{{recipe.recipe_ingredient_1}}"/>
        <label for="icon_prefix">Ingredient 1:</label>
      </div>
            <div class="input-field col s6">
        <i class="material-icons prefix">assignment_ind</i>
        <input id="recipe_ingredient_2" name="recipe_ingredient_2" type="text" class="materialize-textarea" value="{{recipe.recipe_ingredient_2}}"/>
        <label for="icon_prefix">Ingredient 2:</label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">image</i>
        <input id="recipe_img" name="recipe_img" type="text" class="materialize-textarea"  value="{{recipe.recipe_img}}"/>
        <label for="icon_telephone">Link to image: </label>
      </div>
    </div>
    <div class="row center-align">
    <button class="btn waves-effect waves-light blue-grey darken-3" type="submit" name="action">Edit Item
    <i class="material-icons right">edit</i>
    </button>
    <a class="waves-effect waves-light btn blue-grey darken-3 " href="{{url_for('recipes')}}"><i class="material-icons right">cancel</i>Cancel</a>
    </div>
  </form>
</div>

{% endblock %}