{% extends 'base.html' %} {% block content %}
<div class="row ">
    <a class="waves-effect waves-light btn blue-grey darken-3 " href="{{url_for('add_item')}}"><i class="material-icons right">add</i>Add Item</a>
</div>
  
<ul class="collapsible">
  {% for item in items %}
  <li>
    <div class="collapsible-header position-rel">
      <div class="col s3">
        <i class="material-icons">expand_more</i>
      </div>
      <div class="col s9">
        {{item.item_name}} - {{item.item_img}}
        <div class="position-abs">
          <a href="{{ url_for('edit_item', item_id=item._id)}}" class="waves-effect waves-light btn btn-my blue-grey lighten-3">edit</a>
        </div>
      </div>
    </div>
    <div class="collapsible-body">
      <span>
        Category : {{item.item_category}} <br />
        Shop: {{item.item_shop}} <br />
        Measurment: {{item.item_unit}}</span
      >
    </div>
  </li>
  {% endfor %}
</ul>

{% endblock %}
