{% extends 'base.html' %}
{% block content %}
        {% for recipe in recipes %}
            {{recipe.recipe_name}}
            {{recipe.recipe_user}}
            {{recipe.recipe_ingredient_1}}
            {{recipe.recipe_ingredient_2}}
            {{recipe.recipe_ingredient_3}}
            {{recipe.recipe_ingredient_4}}
            {{recipe.recipe_ingredient_5}}
            {{recipe.recipe_ingredient_6}}
            {{recipe.recipe_ingredient_7}}
            {{recipe.recipe_ingredient_8}}
            {{recipe.recipe_comment}}
            {{recipe.recipe_img}}


        {% endfor %}
{% endblock %}