{% extends 'base.html' %}{% block content %}

<div class="row ">
    <a class="waves-effect waves-light btn blue-grey darken-3 " href="{{ url_for('add_recipe')}}"><i class="material-icons right">add</i>Add Recipe</a>
</div>
<ul class="collapsible">
  {% for recipe in recipes %}
  <li>
    <div class="collapsible-header position-rel">
      <div class="col s3">
        <i class="material-icons collapsable-icon">expand_more</i>
      </div>
      <div class="col s9">
        <span class="text-item">{{recipe.recipe_name}}</span>
        <img width="50" src="{{recipe.recipe_img}}" > 
        <div class="position-abs">
          <a href="{{ url_for('edit_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn-my blue-grey lighten-3">edit</a>
          <a href="{{ url_for('delete_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn-my red">del</a>
        </div>
      </div>
    </div>
    <div class="collapsible-body">
        <ul>
            <li> {{recipe.recipe_ingredient_1}} - {{recipe.recipe_ingredient_1_qty}} - {{recipe.recipe_ingredient_1_unit}}</li>
            <li> {{recipe.recipe_ingredient_2}} - {{recipe.recipe_ingredient_2_qty}} - {{recipe.recipe_ingredient_2_unit}}</li>
            <li> {{recipe.recipe_ingredient_3}} - {{recipe.recipe_ingredient_3_qty}} - {{recipe.recipe_ingredient_3_unit}}</li>
            <li> {{recipe.recipe_ingredient_4}} - {{recipe.recipe_ingredient_4_qty}} - {{recipe.recipe_ingredient_4_unit}}</li>
            <li> {{recipe.recipe_ingredient_5}} - {{recipe.recipe_ingredient_5_qty}} - {{recipe.recipe_ingredient_5_unit}}</li>
        </ul>
      <span>
            {{recipe.recipe_comment}} <br /></span>
    </div>
  </li>
  {% endfor %}
</ul>

{% endblock %}