{% extends 'base.html' %}
{% block content %}

<!-- Manage shopping list page, allow user to add remove items and recipe/groups-->

<div class="row ">
  <a class="waves-effect waves-light btn blue-grey darken-3 " href="{{url_for('add_shop_item')}}"><i
      class="material-icons right">note_add</i>Add Item</a>
  <a class="waves-effect waves-light btn blue-grey darken-3 " href="{{url_for('add_shop_recipe')}}"><i
      class="material-icons right">list</i>Add Recipe/Group</a>
  <a class="waves-effect waves-light btn blue-grey darken-3 " href="{{url_for('shopping_list_temp')}}"><i
      class="material-icons right">shop</i>Use shopping list</a>
  <a class="waves-effect waves-light btn blue-grey darken-3 modal-trigger " href="#modal2"><i class="material-icons right">share</i>Share</a>
</div>

<ul class="collapsible">
  {% for list in lists %}
  <li>
    <div class="collapsible-header position-rel">
      <div class="col s3">
        <i class="material-icons">expand_more</i>
      </div>
      <div class="col s9">
        {{list.item_name}} - {{list.item_qty}} - {{list.item_unit}}

        <!-- Check if item is not from a recipe than display delete button that will remove it from the list,
        if item is a part of a recipe ask user if he want to delete just the item or all recipe its part off-->
        {% if list.from_recipe == "--" %}
        <div class="position-abs">
          <a href="{{url_for('delete_shoping_item', list_id=list._id, del_all=0)}}"
            class="waves-effect waves-light btn modal-trigger btn-my red"
            >del</a>
        </div>

        {%else%}
        <div class="position-abs">
            <a href="#modal1"
              class="waves-effect waves-light btn btn-my red modal-trigger">del</a>
          <!-- Modal with option to delete one item or all recipe item is a part off -->
          <div id="modal1" class="modal">
            <div class="modal-content">
              <h5 class="center-align">Attention!</h5>
              <p> Item you want to delete was added as part of {{list.from_recipe}} recipe/group</p>
              <p> You can delete just selected item or remove all items from the recipe/group it is a part off.</p>
              <p class="center-align">
                <a href="{{url_for('delete_shoping_item', list_id=list._id, del_all=0)}}"
                  class="waves-effect waves-light btn btn-flat"><span> selected item
                  </span></a>
                <a href="{{url_for('delete_shoping_item', list_id=list._id, del_all=1)}}"
                  class="waves-effect waves-light btn-flat"><span> all recipe/group
                  </span></a>
              </p>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancel</a>
            </div>
            
          </div>
        </div>
      </div>
      {%endif%}
    </div>
    <div class="collapsible-body ">
      <span>
        Category : {{list.item_category}} <br />
        Shop: {{list.item_shop}} <br />
        Added from : {{list.from_recipe}} </span>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}