{% extends 'base.html' %}
{% block content %}

<!-- Manage shopping list page, allow user to add remove items and recipe/groups-->

<div class="row ">
  <a class="waves-effect waves-light btn blue-grey darken-3 " href="{{url_for('add_shop_item')}}"><i
      class="material-icons right">note_add</i>Add Item</a>
  <a class="waves-effect waves-light btn blue-grey darken-3 " href="{{url_for('add_shop_recipe')}}"><i
      class="material-icons right">list</i>Add Recipe/Group</a>
  <a class="waves-effect waves-light btn blue-grey darken-3 " href="{{url_for('shopping_list_temp')}}"><i
      class="material-icons right">shop</i>Use shopping list</a>
</div>
<div class="row ">
  <h6>Delete warning: If an item is part of a recipe all items from that recipe will be removed!</h6>
</div>
<ul class="collapsible">
  {% for list in lists %}
  <li>
    <div class="collapsible-header position-rel">
      <div class="col s3">
        <i class="material-icons">expand_more</i>
      </div>
      <div class="col s9">
        {{list.item_name}} - {{list.item_qty}} - {{list.item_unit}}
        {% if list.from_recipe == "--" %}
        <div class="position-abs">
          <a href="{{url_for('delete_shoping_item', list_id=list._id, del_all=0)}}"
            class="waves-effect waves-light btn modal-trigger tooltipped btn-my blue-grey lighten-4"
            data-position="left"
            data-tooltip="If an item is part of a recipe all items from that recipe will be removed!"><span
              class="material-icons">
              delete_forever
            </span></a>
        </div>
            <div class="collapsible-body ">
      <span>
        Category : {{list.item_category}} <br />
        Shop: {{list.item_shop}} <br />
        Added from : {{list.from_recipe}} </span>
    </div>
 

        {%else%}
        <div class="position-abs">
          <a href="#modal1" class="waves-effect waves-light btn modal-trigger tooltipped btn-my blue-grey lighten-4"
            data-position="left"
            data-tooltip="If an item is part of a recipe all items from that recipe will be removed!"><span
              class="material-icons">
              delete_forever
            </span></a>
          <!-- Modal Trigger -->

          <!-- Modal Structure -->
          <div id="modal1" class="modal">
            <div class="modal-content">
              <a href="{{url_for('delete_shoping_item', list_id=list._id, del_all=1)}}"
                class="waves-effect waves-light btn tooltipped btn-my blue-grey lighten-4" data-position="left"
                data-tooltip="If an item is part of a recipe all items from that recipe will be removed!"><span> all
                </span></a>
              <a href="{{url_for('delete_shoping_item', list_id=list._id, del_all=0)}}"
                class="waves-effect waves-light btn tooltipped btn-my blue-grey lighten-4" data-position="left"
                data-tooltip="If an item is part of a recipe all items from that recipe will be removed!"><span> one

                </span></a>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
          </div>
        </div>
      </div>
      {%endif%}
    </div>
        <!--
        <div class="position-abs">
          <a href="{{url_for('delete_shoping_item', list_id=list._id)}}"
            class="waves-effect waves-light btn tooltipped btn-my blue-grey lighten-4" data-position="left"
            data-tooltip="If an item is part of a recipe all items from that recipe will be removed!"><span
              class="material-icons">
              delete_forever
            </span></a>
        </div>
      </div>
    </div>-->
    <div class="collapsible-body ">
      <span>
        Category : {{list.item_category}} <br />
        Shop: {{list.item_shop}} <br />
        Added from : {{list.from_recipe}} </span>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}