{% extends 'base.html' %}
{% block content %}

{%if aldi.count() > 0%}
<div id="aldi">
<h6>ALDI</h6>
<ul class="collapsible">
  {% for x in aldi %}
  <li>
    <div class="collapsible-header ">
      <div class="col s3">
        <i class="material-icons">close</i>
      </div>
      <div class="col s9">
        {{x.item_qty}} {{x.item_unit}} | {{x.item_name}} <img src="{{x.item_img}}" class="img-thumb"> ---- {{x.purchased}}
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
</div>
{%endif%}

{%if dunnes.count() > 0 %}
<h6>Dunnes</h6>
<ul class="collapsible">
  {% for x in dunnes %}
  <li>
    <div class="collapsible-header">
      <div class="col s3">
        <i class="material-icons">expand_more</i>
      </div>
      <div class="col s9">
        {{x.item_qty}} {{x.item_unit}} | {{x.item_name}} <img src="{{x.item_img}}" alt="{{x.item_name}}"
          class="img-thumb"> ---- {{x.purchased}}

      </div>
    </div>
    <div class="collapsible-body ">
      <span>
        Category : {{x.item_category}} <br />
        Shop: {{x.item_shop}} <br />
        Measurment: <br />
        Added from : {{x.from_recipe}} </span>
    </div>
  </li>
  {% endfor %}
</ul>
{%endif%}

{%if lidl.count() > 0 %}
<h6>LIDL</h6>
<ul class="collapsible">
  {% for x in lidl %}
  <li>
    <div class="collapsible-header">
      <div class="col s3">
        <i class="material-icons">expand_more</i>
      </div>
      <div class="col s9">
        {{x.item_qty}} {{x.item_unit}} | {{x.item_name}} <img src="{{x.item_img}}" alt="{{x.item_name}}"
          class="img-thumb"> ---- {{x.purchased}}

      </div>
    </div>
    <div class="collapsible-body ">
      <span>
        Category : {{x.item_category}} <br />
        Shop: {{x.item_shop}} <br />
        Measurment: <br />
        Added from : {{x.from_recipe}} </span>
    </div>
  </li>
  {% endfor %}
</ul>
{%endif%}

{%if tesco.count() > 0 %}
<h6>Tesco</h6>
<ul class="collapsible">
  {% for x in tesco %}
  <li>
    <div class="collapsible-header">
      <div class="col s3">
        <i class="material-icons">expand_more</i>
      </div>
      <div class="col s9">
        {{x.item_qty}} {{x.item_unit}} | {{x.item_name}} <img src="{{x.item_img}}" alt="{{x.item_name}}"
          class="img-thumb"> ---- {{x.purchased}}

      </div>
    </div>
    <div class="collapsible-body ">
      <span>
        Category : {{x.item_category}} <br />
        Shop: {{x.item_shop}} <br />
        Measurment: <br />
        Added from : {{x.from_recipe}} </span>
    </div>
  </li>
  {% endfor %}
</ul>
{%endif%}

{%if local.count() > 0 %}
<h6>Local</h6>
<ul class="collapsible">
  {% for x in local %}
  <li>
    <div class="collapsible-header">
      <div class="col s3">
        <i class="material-icons">expand_more</i>
      </div>
      <div class="col s9">
        {{x.item_qty}} {{x.item_unit}} | {{x.item_name}} <img src="{{x.item_img}}" alt="{{x.item_name}}"
          class="img-thumb"> ---- {{x.purchased}}

      </div>
    </div>
    <div class="collapsible-body ">
      <span>
        Category : {{x.item_category}} <br />
        Shop: {{x.item_shop}} <br />
        Measurment: <br />
        Added from : {{x.from_recipe}} </span>
    </div>
  </li>
  {% endfor %}
</ul>
{%endif%}

{%if ms.count() > 0 %}
<h6>M&S</h6>
<ul class="collapsible">
  {% for x in ms %}
  <li>
    <div class="collapsible-header">
      <div class="col s3">
        <i class="material-icons">expand_more</i>
      </div>
      <div class="col s9">
        {{x.item_qty}} {{x.item_unit}} | {{x.item_name}} <img src="{{x.item_img}}" alt="{{x.item_name}}"
          class="img-thumb"> ---- {{x.purchased}}

      </div>
    </div>
    <div class="collapsible-body ">
      <span>
        Category : {{x.item_category}} <br />
        Shop: {{x.item_shop}} <br />
        Measurment: <br />
        Added from : {{x.from_recipe}} </span>
    </div>
  </li>
  {% endfor %}
</ul>
{%endif%}

{%if spar.count() > 0 %}
<h6>Spar</h6>
<ul class="collapsible">
  {% for x in spar %}
  <li>
    <div class="collapsible-header">
      <div class="col s3">
        <i class="material-icons">expand_more</i>
      </div>
      <div class="col s9">
        {{x.item_qty}} {{x.item_unit}} | {{x.item_name}} <img src="{{x.item_img}}" alt="{{x.item_name}}"
          class="img-thumb"> ---- {{x.purchased}}
      </div>
    </div>
    <div class="collapsible-body ">
      <span>
        Category : {{x.item_category}} <br />
        Shop: {{x.item_shop}} <br />
        Measurment: <br />
        Added from : {{x.from_recipe}} </span>
    </div>
  </li>
  {% endfor %}
</ul>
{%endif%}
{% endblock %}