{% extends 'base.html' %}
{% block content %}

<ul class="collapsible">
  {% for list in lists %}
  <li>
    <div class="collapsible-header">
      <div class="col s3">
        <i class="material-icons">expand_more</i>
      </div>
      <div class="col s9">
        {{list.item_name}} - {{list.item_qty}} - {{list.item_img}} ----  {{list.purchased}} 

      </div>
    </div>
    <div class="collapsible-body ">
      <span>
        Category : {{list.item_category}} <br />
        Shop: {{list.item_shop}} <br />
        Measurment: {{list.item_unit}}<br />
        Added from : {{list.from_recipe}} </span
      >
    </div>
  </li>
  {% endfor %}
</ul>

   
{% endblock %}

